transformers==4.56.0
tokenizers==0.22.0
lhotse==1.32.2
huggingface-hub==0.34.4
hf-xet==1.1.9
torchcodec==0.10.0
torch_audiomentations
jinja2

ninja
packaging
wheel
einops

fastapi
uvicorn[standard]
python-multipart

numpy
soundfile
websockets
requests
